html, body { box-sizing: border-box; margin: 0 auto; }

.top__header { display: grid; }

.top__navigation { display: grid; width: 1160px; margin: 0 auto; grid-template-columns: 1fr 1fr; }
.top__navigation div { color: #334141; font-family: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; }
.top__navigation div ul { float: right; margin: 10px 0px; }
.top__navigation div ul li { list-style: none; display: inline-block; font-weight: normal; font-size: 14px; text-align: right; margin-left: 10px; border-right: 1px solid #cad5d5; padding-right: 10px; }
.top__navigation div ul li i { margin-right: 5px; display: inline-block; width: 16px; height: 16px; vertical-align: top; }
.top__navigation div ul li:nth-child(1) i { background: url(../img/store.png) no-repeat 50% 50%; }
.top__navigation div ul li:nth-child(2) i { background: url(../img/speech.png) no-repeat 50% 50%; }
.top__navigation div ul li:nth-child(3) i { background: url(../img/facebook.png) no-repeat 50% 50%; }
.top__navigation div ul li:nth-child(4) i { background: url(../img/twitter.png) no-repeat 50% 50%; }
.top__navigation div h3 { font-weight: normal; font-size: 14px; margin: 10px 0px; color: #000; }

.nav__menu { border-bottom: 1px solid grey; }

.logo__strip { display: grid; width: 1160px; margin: 0 auto; grid-template-columns: 1fr 2fr 1fr; margin-top: 25px; margin-bottom: 5px; align-items: center; }
.logo__strip input { width: 80%; border-radius: 15px 0px 0px 15px; height: 30px; border: 2px solid #fed700; }
.logo__strip button { background-color: #fed700; height: 36px; border: 1px solid #fed700; border-radius: 0px 15px 15px 0px; vertical-align: bottom; }
.logo__strip button i { background: url(../img/search.png) no-repeat 50% 50%; display: inline-block; width: 35px; height: 24px; }

.logo img { width: 176px; height: auto; }

.store__icons ul li { list-style: none; display: inline-block; margin-left: 25px; }

.top__content { background: #f8f8f8; }

.store__content { width: 1160px; margin: 0 auto; display: grid; grid-template-columns: 0.5fr 2fr; grid-gap: 5px; }

.store__list { background: #fff; width: 100%; height: auto; border-radius: 0px 0px 5px 5px; }
.store__list ul { padding-left: 2px; margin-top: 0; }
.store__list ul li { list-style: none; font-family: Trebuchet MS; padding: 10px; border-bottom: 1px solid #ddd; }
.store__list ul li:nth-child(1) { font-weight: bold; background-color: #fed700; }
.store__list ul li:nth-child(2) { font-weight: bold; }
.store__list ul li:nth-child(3) { font-weight: bold; }

.store__slider { background: #fdbf00; width: 100%; height: auto; }

.top__tier { margin-bottom: 30px; }

.featured__products { margin: 20px; }

.featured__top--products { width: 1160px; margin: 0 auto; display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 30px; }

.featured__top_card { background-color: #f5f5f5; width: 100%; height: 140px; display: grid; grid-template-columns: repeat(2, 1fr); }

.featured__product--image { position: relative; }
.featured__product--image img { width: 75%; height: auto; }
.featured__product--image::after { content: ""; position: absolute; right: 0; z-index: 100; top: 20px; width: 1px; height: 80%; background: #fdbf00; margin-right: 10px; }

.featured__product--details { font-family: Trebuchet MS; overflow-wrap: break-word; }

.product__title h4 { text-transform: uppercase; margin-bottom: 2px; font-weight: normal; }
.product__title h5 { margin-top: 0; font-size: 16px; line-height: 23px; margin-bottom: 15px; }

.call__action { font-weight: bold; }
.call__action::after { background-color: #000; content: ">"; padding: 5px; border-radius: 50%; width: 15px; height: 15px; display: inline-block; text-align: center; color: #fff; margin-left: 5px; font-size: 14px; }

.middle__products--tier { margin-bottom: 10px; }

.middle__products_wrapper { width: 1160px; margin: 0 auto; display: grid; grid-template-columns: 1fr 2fr; grid-gap: 10px; }

.left__featured_products { width: 100%; font-family: Trebuchet MS; border: 2px solid #fed700; border-radius: 21px; }
.left__featured_products h2 { line-height: 1.6em; display: inline-block; padding-bottom: .4em; position: relative; margin-bottom: 0; }

.right__featured_products { display: grid; width: 100%; grid-template-columns: repeat(3, 1fr); grid-gap: 5px; }
.right__featured_products h5 { font-size: 16px; font-weight: bold; margin: 8px 0; color: #0062bd; }
.right__featured_products h6 { font-size: 12px; color: gray; margin: 0px; }

.savings { width: 76px; height: 76px; border-radius: 80px; color: #000; background: #fed700; font-size: 18px; line-height: 18px; font-weight: 700; float: right; position: relative; }

header { display: flex; justify-content: space-between; padding: 22px; }

.savings__text { position: absolute; top: 50%; transform: translateY(-50%); display: block; text-align: center; width: 100%; font-size: 12px; font-weight: 400; line-height: 1; }

.savings__amount { font-size: 20px; font-weight: 700; }

.left__featured_image { text-align: center; }
.left__featured_image img { width: 300px; height: auto; }

.left__featured_activity { text-align: center; }
.left__featured_activity span { text-decoration: line-through; font-size: 20px; color: #828282; }
.left__featured_activity h2 { margin-right: 5px; color: red; font-size: 30px; font-weight: normal; margin-top: 0px; }
.left__featured_activity h4 { color: #0062c9; font-size: 18px; }

.progress__bar { background-color: #eee; width: 80%; height: 20px; margin: 0 auto; border-radius: .571em; }
.progress__bar span { width: 30%; display: block; text-indent: -99999px; height: 100%; border-radius: .571em; background-color: #fed700; }

.deadline__count { margin: 10px; text-align: center; }

.days__count { margin: 20px; }

.count__days { background: #e6e6e6; padding: 5px 25px; display: inline-grid; font-size: 30px; text-align: center; color: #383838; border-radius: 10%; }

.days__tag { text-transform: uppercase; font-size: 14px; font-weight: bold; }

.product__inner { padding: 10px; font-family: Trebuchet MS; transition: box-shadow .3s; border-right: 1px solid #eaeaea; }
.product__inner:hover { box-shadow: 0 0 11px grey; }
.product__inner:nth-child(3) { border: none; }
.product__inner:nth-child(6) { border: none; }

.product__inner_image img { width: 90%; height: auto; }

.product__price span { position: relative; float: right; top: 15px; }
.product__price h3 { width: 70%; float: left; }
.product__price img { width: 24px; height: auto; filter: grayscale(100%); }

.ad__middle_top { background: #f9f9f9; padding: 20px; margin: 20px 0; }

.ad__middle_wrapper { text-align: center; }
.ad__middle_wrapper img { background: orange; width: 970px; height: 250px; }

.lower__middle_wrapper { width: 1160px; margin: 0px auto; font-family: Trebuchet MS; }
.lower__middle_wrapper header { padding: 0px 0; border-bottom: 1px solid #dadada; margin-bottom: 1em; }
.lower__middle_wrapper header h2 { font-size: 24px; font-weight: normal; margin: 0; content: ' '; border-bottom: 1px solid transparent; display: block; bottom: -1px; width: 11%; border-color: #fed700; }

.best__sells_container { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 10px; }

.best__sell_product { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2px; border-right: 1px solid #dadada; margin: 11px; transition: ease-in .2s; transition: box-shadow .2s; }
.best__sell_product:nth-child(3) { border: none; }
.best__sell_product:nth-child(6) { border: none; }
.best__sell_product:hover { box-shadow: 0 0 11px grey; background: #fed700; }

.best__product--image { text-align: center; }
.best__product--image img { width: 80%; height: auto; }

.details__top h3 { font-size: 18px; font-weight: bold; color: #0062bd; margin: 10px 0; }
.details__top h4 { font-size: 14px; font-weight: normal; color: #878787; margin-bottom: 0px; }

.details__bottom h5 { font-size: 20px; width: 70%; float: left; margin: 5px 0; }
.details__bottom i { background-image: url(../img/bag.png); background-repeat: no-repeat; background-color: #dedede; background-position: center; background-blend-mode: overlay; width: 24px; height: 24px; display: inline-block; margin: 2px 0; border-radius: 30px; padding: 7px; bottom: 5px; position: relative; }

.signup__tier { margin: 20px 0; background: #fed700; padding: 10px; }

.signup__ribbon { width: 1160px; margin: 0 auto; display: grid; grid-template-columns: 1.2fr 1.5fr 1.8fr; grid-gap: 5px; font-family: Trebuchet MS; padding: 5px; }
.signup__ribbon span { vertical-align: super; }

.signup__title { font-size: 21px; font-weight: lighter; }
.signup__title i { background: url(../img/plane.png) no-repeat; width: 32px; height: 32px; display: inline-block; margin-right: 25px; }

.signup__discount { position: relative; top: 10px; }

.signup__form form input { width: 75%; height: 30px; border-radius: 10px 0 0px 10px; border: none; background: #fff; padding: 5px 0 3px 20px; font-family: Trebuchet MS; font-size: 16px; }
.signup__form form button { width: 20%; height: 38px; border-radius: 0px 10px 10px 0; background: #333e48; border: none; font-size: 15px; color: #fff; cursor: pointer; }

.footer__tier_wrapper footer { width: 1160px; margin: 0 auto; display: grid; grid-template-columns: 1fr 2fr 1fr; grid-gap: 5px; }

/*# sourceMappingURL=light.css.map */
